table
{
    border:double solid;
    font-style:oblique;
    font-size:larger;
    color:chocolate;
    font-family: Arial, Haettenschweiler, sans-serif;   
    border-collapse : collapse
}

td{
    border: 2px solid red;
}