h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

/*table {
    border: double solid;
    font-style: oblique;
    font-size: larger;
    color:red;
    font-family: Arial, Haettenschweiler, sans-serif;
    border-collapse: collapse;
}

td {
    border: 2px solid blue;
}*/